canvas.emscripten { border: 0px none; cursor: default; }
body { margin: 0px; padding: 0px; }
.webgl-content, * { border: 0px; margin: 0px; padding: 0px; }
.webgl-content, #gameContainer, canvas { position: absolute; width: 100% !important; height: 100% !important; }
.webgl-content .logo, .progress { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.webgl-content .logo { background: url("progressLogo.Light.png") center center / contain no-repeat; width: 154px; height: 130px; }
.webgl-content .progress { height: 18px; width: 141px; margin-top: 90px; }
.webgl-content .progress .empty { background: url("progressEmpty.Light.png") right center / cover no-repeat; float: right; width: 100%; height: 100%; display: inline-block; }
.webgl-content .progress .full { background: url("progressFull.Light.png") left center / cover no-repeat; float: left; width: 0%; height: 100%; display: inline-block; }
.webgl-content .logo.Dark { background-image: url("progressLogo.Dark.png"); }
.webgl-content .progress.Dark .empty { background-image: url("progressEmpty.Dark.png"); }
.webgl-content .progress.Dark .full { background-image: url("progressFull.Dark.png"); }
.webgl-content .footer { display: none; }
